{
  "version": 6,
  "configurePresets": [
    {
      "name": "msvc-debug",
      "displayName": "MSVC 2022 x64 Debug",
      "inherits": [
        "mc-msvc",
        "mc-debug"
      ],
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "C:/Qt/6.11.1/msvc2022_64",
        "CMAKE_MAKE_PROGRAM": "C:/Qt/Tools/Ninja/ninja.exe",
        "MC_ADS_DIR": "C:/build_packages/qtadvanceddocking-5.1.1"
      }
    },
    {
      "name": "mingw-debug",
      "displayName": "MinGW 13.1 x64 Debug",
      "inherits": [
        "mc-mingw",
        "mc-debug"
      ],
      "environment": {
        "PATH": "C:/Qt/Tools/mingw1310_64/bin;$penv{PATH}"
      },
      "cacheVariables": {
        "CMAKE_CXX_COMPILER": "C:/Qt/Tools/mingw1310_64/bin/g++.exe",
        "CMAKE_PREFIX_PATH": "C:/Qt/6.11.1/mingw_64",
        "CMAKE_MAKE_PROGRAM": "C:/Qt/Tools/Ninja/ninja.exe",
        "MC_ADS_DIR": "${sourceDir}/build/ads-mingw_64/install"
      }
    },
    {
      "name": "msvc-release",
      "displayName": "MSVC 2022 x64 Release",
      "inherits": [
        "mc-msvc",
        "mc-release"
      ],
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "C:/Qt/6.11.1/msvc2022_64",
        "CMAKE_MAKE_PROGRAM": "C:/Qt/Tools/Ninja/ninja.exe",
        "MC_ADS_DIR": "C:/build_packages/qtadvanceddocking-5.1.1"
      }
    },
    {
      "name": "mingw-release",
      "displayName": "MinGW 13.1 x64 Release",
      "inherits": [
        "mc-mingw",
        "mc-release"
      ],
      "environment": {
        "PATH": "C:/Qt/Tools/mingw1310_64/bin;$penv{PATH}"
      },
      "cacheVariables": {
        "CMAKE_CXX_COMPILER": "C:/Qt/Tools/mingw1310_64/bin/g++.exe",
        "CMAKE_PREFIX_PATH": "C:/Qt/6.11.1/mingw_64",
        "CMAKE_MAKE_PROGRAM": "C:/Qt/Tools/Ninja/ninja.exe",
        "MC_ADS_DIR": "${sourceDir}/build/ads-mingw_64/install"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "msvc-debug",
      "configurePreset": "msvc-debug",
      "jobs": 32
    },
    {
      "name": "mingw-debug",
      "configurePreset": "mingw-debug",
      "jobs": 32
    },
    {
      "name": "msvc-release",
      "configurePreset": "msvc-release",
      "jobs": 32
    },
    {
      "name": "mingw-release",
      "configurePreset": "mingw-release",
      "jobs": 32
    }
  ],
  "testPresets": [
    {
      "name": "msvc-debug",
      "configurePreset": "msvc-debug",
      "output": {
        "outputOnFailure": true
      },
      "execution": {
        "jobs": 8
      }
    },
    {
      "name": "mingw-debug",
      "configurePreset": "mingw-debug",
      "output": {
        "outputOnFailure": true
      },
      "execution": {
        "jobs": 8
      }
    },
    {
      "name": "msvc-release",
      "configurePreset": "msvc-release",
      "output": {
        "outputOnFailure": true
      },
      "execution": {
        "jobs": 8
      }
    },
    {
      "name": "mingw-release",
      "configurePreset": "mingw-release",
      "output": {
        "outputOnFailure": true
      },
      "execution": {
        "jobs": 8
      }
    }
  ]
}
